{% extends '::header.html.twig' %}

{% block fos_user_content %}
    {# Div affichage de "connexion" et "deconnexion" dynamique. Retourne connexion si non connecté et deconnexion si connecté. #}
        <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}"class="btn btn-default btn-lg active">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                {% else %}
                        {% if error %}
                        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post" class="navbar-form navbar-right">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group">
                    
                    <input placeholder="Login" class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                    <div class="form-group">
                    
                    <input placeholder="Password" class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>

                    <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                </form>
                {% endif %}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

{% endblock fos_user_content %}

